body {
    background-color: #deebe5;
    text-align: center;
  }
  
h1 {
    font-size: 50px;
    font-style: italic;
    height: 25px;
    text-align: center;
    padding: 50px;
    outline-style: solid;
    outline-width: 2px;
  }
  
a{
    padding: 120px;
  }

p {
      margin: 25px 350px 25px 350px;
  }

table, th, td{
        border: 2px solid black  ;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
      }

.every-even li:nth-child(even) {
    background-color: grey;
}

.skinnyList {
    max-width: 450px;
    display: block;
}

.img{
    width: 80%;
    height: auto;
    opacity: 25%;
}
form{
    display: inline-block;
}

.formSetting {
        width: 20%;
        text-align: center;
        background-color: antiquewhite;
        color: black;
        padding: 14px 20px;
}

#btn {
    display: inline-block;
    width: 22%;
}

#paraHeader {
    padding: 50px;
}

.centerIMG {
    height: 300px;
    width: auto;
  }

  